.footer__container {
   border-top: 1px solid #878484;
   background: white;
   position: sticky;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0.5rem 0;
   z-index: 999;
}
.__copyright {
   display: flex;
   justify-content: center;
   margin: 0.2rem 0;
}

.footer__up {
   width: 98vw;
   display: flex;
   justify-content: space-between;
   padding: 0 10vw;
}
.footer__up > div > * {
   display: block;
   padding: 0.1rem 0;
   font-size: 1rem;
}
.footer__up .f__center img:first-child {
   width: 13rem;
}

.footer__up > div > *:hover {
   color: #625d5d;
}
.footer__up > div a {
   color: black;
}
@media screen and (max-width: 500px) {
   .footer__container {
      position: relative;
      top: 3rem;
      width: 100vw;
   }
   .footer__up {
      flex-direction: column;
      align-items: center;
   }
   .footer__up > .f__center {
      display: none !important;
   }
   .__copyright{
    padding: 1rem 0;
    font-size: .9rem;
    /* text-align: center; */
   }
}
